// Colour Theme
$blue: #0081c9;
$orange: #ed7700;
$grey1: #425363;
$grey2: #bbbbbb;
$grey3: #aaaaaa;

// Font styles
$heading: 'Raleway', sans-serif;
$content: 'Roboto', sans-serif;

// General Styles
$padding: 15px;