@import 'generic';

h1, h2, h3, h4, h5, h6 {
    font-family: $heading;
}

p, span, a, li {
    font-family: $content;
}

html, body {
    height: 100vh;
    overflow: auto;

    .site-wrapper {
        height: 100%;

        .header {
            background-color: rgba($blue, 0.7);
            color: white;
            padding: ($padding * 2) $padding;
            position: relative;
            > .col {
                h1 {
                    text-align: center;
                    margin-bottom: 0;
                }
                .sub-heading {
                    padding: $padding 0;
                    > p {
                        margin-bottom: 0;
                        text-align: center;
                    }
                }
            }
        }
            .contact {
                background-color: $orange;
                color: black;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                p {
                    text-align: center;
                    width: 100%;
                    margin: 0;
                    padding: $padding 0;
                }
            }

        .main-content {
            background-color: rgba(white, 0.7);
            color: black;

            .service-details {
                .prices-services {
                    h2, h3 {
                        text-align: center;
                        text-decoration: underline;
                        padding: $padding 0;
                    }
                    .service-block {
                        color: white;
                        text-align: center;
                        .service-info {
                            background-color: $blue;
                            border-radius: $padding;
                            padding: $padding;
                            margin: $padding 0;
                            min-height: 150px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            h4 {
                                font-weight: bold;
                            }
                            .desc {
                                font-style: italic;
                            }
                            p {
                                &:last-child {
                                margin: 0;
                                span {
                                    font-weight: bold;
                                }
                                }
                            }
                        }
                    }
                }
            }
        }
        .footer {
            background-color: $orange;
            p {
                width: 100%;
                text-align: center;
                margin: 0;
                padding: $padding 0;
            }
        }

    }
}

body {
        background-image: url('../img/background.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
}